body {
    background-color: rgb(167, 167, 167);
}

.title {
    text-align: center;
    font-size: 50px;
}

h2 {
    font-size: 35px;
}

.title, h2, p, li {
    font-family: 'Courier New', Courier, monospace;
}

.title, h2 {
    font-weight: 20; 
}

#list {
    font-weight: bold;
    font-size: 40px;
}

.recipe-names {
    display: inline-block;
}

a:link {
    color:antiquewhite;
}

a:visited {
    color: rgb(202, 202, 2);
}

a:hover {
    color: yellow;
}